* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;;
}

.logo {
  width: 17%;
  
}

nav.navbar { 
  display: flex;
  padding: 20px;
  font-size: 0.5rem;
  
  font-family: "Architects Daughter", cursive; 
}

nav.navbar .navbar-user{
  margin-left: 10px;
  color: white;
  font-size: 0.5rem;
  font-family: "Architects Daughter", cursive; 
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  border-radius: 3px;
  margin: 0 10px;
}

.btn-secondary {
  color: #fff;
  background-color: #D9AC63;
  border-color: #D9AC63;

}

div.login {
  margin-left: 7rem;
  font-family: tahoma;
  background-image: "./public/images/background.jpg"
}
div.imagen {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 3rem;
  font-family: tahoma;
  background-image: "./public/images/background.jpg"
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.login-div{
  display:flex;
  flex-direction: column;
}

.h1-centered {
  text-align: center;
  margin-left: 6rem;
  margin-right: 6rem;
}

.h1-centered > form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.h1, h1 {
  font-family: 'Architects Daughter';
  color: white;
  font-size: 1.3rem;
  background-color: #83B4B4;
}

div.header1 {
  display: flex;
  font-family: 'Architects Daughter';
  margin: 20px;
 
}
div.header2 {
  display: flex;
    font-family: 'Architects Daughter';
    margin: 5%;
    flex-direction: column;
    width: 25%;
    font-size: 60%;
  
  
  
  
 
}
input{
  font-family: 'tahoma';
  margin: 2%;

}
input.login{
  background: #D9AC63;
  display: block;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
  font-size: 0.8rem;
  font-family: tahoma;
  text-align: center;
  margin-left: 40%;
  
}
input.login:hover{
  background-color: #83B4B4;
  
}


input.number {
  width: 15%;
  margin: 10px;
  text-align: center;

}
input.submit {
  background: #f1f5f8;
  display: block;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
  font-size: 0.8rem;
  font-family: 'Architects Daughter';
  text-align: center;
  
  ; 
 
}




_____


body {
  background-color: #d9ac63;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: radial-gradient(#d9ac63 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

form.header {
  margin: 0;
  padding: 0;
  display: flex;
}
input.number {
  width: 4rem;
  height: 2rem;
  margin: 10px;
  text-align: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #83b4b4;
  font-size: 1.5rem;
}

.heading h2 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #49756e;
  font-size: 0.5rem;
}

form{
  margin: 1%;
  padding: 5%;
}
div.container{
  margin-top: 2%;
}

dl, ol, ul {
  margin-left: 2rem;
  font-family: tahoma;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #49756e;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: 
  
}

textarea {
  overflow: auto;
  resize: vertical;
  display: block;
  width: 90%;
  height: 10rem;
}

button span {
  background: #f1f5f8;
  display: block;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
  text-align: center;
  font-size: 0.8rem;
  background: #D9AC63;
  color: white;
  
}
button span:hover{
  background: #92718b;
  color: white;
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}

div.financial{
  background-color: #83B4B4;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 2rem;
  color: white;
  font-family: 'Architects Daughter';
  font-size: 110%;

}

div.financial1{
  
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border-radius: 2rem;
  font-family: 'Architects Daughter';
  font-size: 110%;
  background-color: #D9AC63;

}


.usergen{
  display: flex;

}

div.user1{
  display: flex;
  flex-direction: column;
}